<!DOCTYPE html>
<html lang='en-us'>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script   src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <nav>
    <div class="nav-wrapper" style="background-color : rgb(66, 38, 119);">
      <a href="#" class="brand-logo" style="padding-left : 20px">Solar Power Monitor</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a style="background-color : rgb(176, 155, 111); color : rgb(56, 56, 56); font-style : bold" class="waves-effect waves-purple btn" href="/">Home</a></li>
        <li><a style="background-color : rgb(176, 155, 111); color : rgb(56, 56, 56)" class="waves-effect waves-purple btn" href="/about">About</a></li>
      </ul>
    </div>
  </nav>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="javascripts/Chart.bundle.min.js"></script>